body {
  min-height: 100vh;
  margin: 0px;
  letter-spacing: -0.2px;
  box-sizing: border-box;
}
* {
  box-sizing: border-box !important;
}

html,
div {
  box-sizing: border-box;
}

.MuiToolbar-root{
  display: none!important;
}

nav{
  background-color: #005AE0!important;
 }

.MuiList-root a {
  margin-top: 10px;
  padding-left: 4px;
  
}

.MuiListItemIcon-root  svg {
  font-size: 36px;
  margin-right:20px;
  font-weight: 500;
  color: #f1f1f1!important;
}

.MuiTab-root {
  text-transform: capitalize!important;
}
